# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.dev.vars
.dev.vars.*

# IDE
.vscode/
.idea/

# Build
build/
dist/

# Logs
*.log

# Database
*.db
*.sqlite3

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# Node
node_modules/

# Operating system
.DS_Store
Thumbs.db

# Firebase secrets
firebase-adminsdk*.json

node_modules/
.env
.DS_Store
dist/
*.log
